@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oxygen', sans-serif;
  background-color: rgb(234, 237, 237);
  min-width: 1000px;
  font-size: 62.5%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Header starts */
/* Navigation belt starts. */

header {
  overflow: hidden;
}

.nav-belt {
  display: flex;
  background-color: rgb(19, 25, 33);
  height: 60px;
  align-items: center;
}

.nav-belt > .nav-belt-left {
  margin-right: 6rem;
  margin-left: 1rem;
  min-width: 100px;
  flex: 1.3;
  white-space: nowrap;
}

.nav-belt-left img:hover {
  border: 1px groove white;
}

.nav-belt > .search-bar {
  flex: 3.5;
}

.search-bar form {
  display: flex;
  align-items: center;
}

.search-bar form button,
.search-bar form input {
  width: 100%;
  height: 40px;
  border: none;
}

.search-bar form > :nth-child(1) {
  width: 45px;
  border-right: 1px groove rgb(172, 168, 168);
}

.search-bar form > :nth-child(2) {
  flex: 1;
}

.search-bar form > :nth-child(3) {
  width: 45px;
}

.search-bar form > :nth-child(3) button {
  background-color: rgb(243, 175, 86);
}

.searchbar-categories {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.submit-button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.nav-belt > .nav-belt-right {
  flex: 2;
}

.nav-belt-right ul {
  display: flex;
  column-gap: 1.5em;
}

.nav-belt-right ul > li {
  flex: 1;
}

.nav-belt-right a {
  color: rgb(158, 164, 172);
  font-size: 0.8rem;
}

.nav-belt-right a strong {
  color: white;
  font-size: 0.9rem;
}

.nav-belt-right li:hover {
  border: 1px groove white;
}

.usa-flag {
  position: relative;
  top: 12px;
  left: 10px;
}

.shopping-car {
  position: relative;
  top: 10px;
}
/* Navigation belt ends. */

/* Navigation main starts. */

.nav-main {
  display: flex;
  column-gap: 2.5em;
  align-items: center;
  height: 45px;
  background-color: rgb(35, 47, 62);
  margin: 0;
}

.nav-main-left {
  margin-right: 1.5rem;
  margin-left: 1rem;
  width: 160px;
}

.nav-main-left span {
  color: white;
  font-size: 0.8rem;
  margin-left: 5px;
}

.nav-main-left span strong {
  margin-left: 1.2rem;
  font-size: 0.85rem;
}

.nav-main-left i {
  color: white;
  font-size: 1.2rem;
  position: relative;
  top: 10px;
}

.nav-main-left:hover {
  border: 1px groove white;
}

.nav-main-right ul {
  display: flex;
  column-gap: 1.5em;
}

.nav-main-right ul a {
  color: rgb(200, 205, 212);
  font-size: 0.9rem;
}

.nav-main-right li:hover {
  border: 1px groove white;
}
/* Navigation main ends. */

/* Navigation toaster starts. */
.nav-toaster {
  height: 45px;
  line-height: 45px;
  background-color: rgb(216, 247, 235);
}

.nav-toaster p {
  margin-left: 1.5rem;
  font-weight: bold;
  font-size: 0.8rem;
}

.nav-toaster a {
  color: rgb(0, 102, 192);
}

.nav-toaster a:hover {
  color: rgb(243, 109, 85);
  text-decoration-line: underline;
}
/* Navigation toaster ends. */
/* Header ends */

/* Main starts. */
/* Cards section starts */

.cards {
  display: flex;
  column-gap: 1.5em;
  overflow: hidden;
  background-image: url(images/hero-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 600px;
  width: 100%;
}

.card {
  flex: 1;
  border-style: groove;
  height: 350px;
  background-color: rgb(255, 255, 255);
  align-self: flex-end;
}

.card-1 {
  margin-left: 1.2rem;
}

.card-4 {
  margin-right: 1.2rem;
}

.card h2 {
  margin: 1.5rem 0 0.6rem 1.25rem;
  font-size: 1.25rem;
  font-weight: bolder;
}

.card img {
  width: 88%;
  height: 65%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card a {
  display: block;
  margin: 1.5rem 0 0 1.25rem;
  font-size: 0.85rem;
  color: rgb(103, 179, 241);
}

.card-4 a {
  border-radius: 5px;
  width: 85%;
  height: 10%;
  line-height: 35px;
  color: #111;
  text-align: center;
  background-image: linear-gradient(
    to top,
    rgb(239, 189, 63),
    rgb(246, 222, 162)
  );
}

.card-1 a:hover,
.card-2 a:hover,
.card-3 a:hover {
  color: rgb(243, 109, 85);
  text-decoration-line: underline;
}

.card-4 a:hover {
  background-image: linear-gradient(
    to top,
    rgb(248, 189, 38),
    rgb(245, 212, 129)
  );
}
/* Cards section ends. */

/* Carousels section starts. */

.carousels {
  margin: 0.6rem 1.2rem 0 1.2rem;
  padding-top: 0.3rem;
}

.carousel {
  background-color: rgb(255, 255, 255);
  padding-top: 0.1rem;
  height: 50vh;
  margin-top: 1.2rem;
  overflow: hidden;
}

.carousel img {
  width: auto;
  height: auto;
  max-width: 270px;
  max-height: 200px;
  vertical-align: middle;
  background-color: transparent;
}

.carousel h3 a {
  text-decoration-style: none;
  color: rgb(86, 167, 233);
  font-size: 0.8rem;
}

.carousel h3 a:hover {
  color: rgb(243, 109, 85);
  text-decoration-line: underline;
}

.carousels h3 {
  margin-left: 1.8rem;
  margin-top: 1.8rem;
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
}

.products {
  display: flex;
  column-gap: 1.5em;
  margin: 0px 1.8rem 0 1.8rem;
}

.products:hover {
  overflow-x: scroll;
  scroll-behavior: smooth;
  transition: ease 1s;
}

/* Carousels section ends. */

/* Footer starts. */
/* Footer belt starts. */

footer {
  overflow: hidden;
}

.footer-belt-top {
  height: 55px;
  border-bottom-style: ridge;
  border-bottom-color: rgb(255, 255, 255, 0.4);
  border-bottom-width: 1%;
  margin-top: 1.8rem;
  background-color: rgb(255, 255, 255);
}

.footer-belt-main {
  height: 120px;
  line-height: 60px;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.footer-belt-main h3 {
  display: block;
  margin-bottom: 0;
  font-weight: lighter;
}

.footer-belt-main a {
  display: inline-block;
  position: relative;
  bottom: 20px;
  border-radius: 3px;
  width: 280px;
  height: 27%;
  line-height: 30px;
  font-size: 0.8rem;
  background-image: linear-gradient(
    to top,
    rgb(239, 189, 63),
    rgb(246, 222, 162)
  );
  margin-bottom: 1.8rem;
  margin-top: 0;
}

.footer-belt-main a:hover {
  background-image: linear-gradient(
    to top,
    rgb(248, 189, 38),
    rgb(245, 199, 84)
  );
}

.footer-belt-end {
  display: block;
  height: 50px;
  line-height: 50px;
  background-color: rgb(72, 87, 105);
  text-align: center;
  color: #fff;
  font-size: 0.85rem;
}

.footer-belt .footer-belt-end {
  scroll-behavior: smooth;
}
/* Footer belt ends. */

/* Footer main starts. */

.footer-main-main {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(35, 47, 62);
  color: #ddd;
  font-size: 0.85rem;
  height: 400px;
  padding: 0.9rem 0.9rem 0 0.9rem;
  border-bottom-style: ridge;
  border-bottom-color: rgb(255, 255, 255, 0.4);
  border-bottom-width: 0.5%;
  min-width: 950px;
  white-space: nowrap;
}

.footer-main-main a {
  color: #ddd;
}

.footer-main-main a:hover {
  text-decoration-line: underline;
}

.col {
  flex-basis: 12%;
  margin-top: 1.8rem;
  height: 300px;
  line-height: 190%;
}

.col h3 {
  font-size: 0.9rem;
  color: #fff;
}

.col-2 {
  flex-basis: 14%;
}

.col-3 {
  flex-basis: 17%;
}

.footer-main-footer {
  height: 100px;
  min-width: 950px;
  white-space: nowrap;
  line-height: 80px;
  text-align: center;
  background-color: rgb(35, 47, 62);
}

.amazon-logo-footer {
  display: inline-block;
  position: relative;
  left: 5px;
  top: 20px;
  margin-right: 3.6rem;
}

.box {
  display: inline-block;
  border-style: solid;
  border-color: #fff;
  border-width: 0.5px;
  color: #ddd;
  width: 9%;
  height: 33%;
  line-height: 35px;
  font-size: 0.85rem;
  margin-right: 0.3rem;
  text-align: start;
  padding-left: 0.6rem;
}

.currency-box {
  width: 12%;
}

.country-box {
  width: 11%;
}

#usa-flag-2 {
  margin-right: 0.1rem;
}

.footer-main-footer a:hover {
  cursor: pointer;
}

/* Footer main ends. */

/* Footer of the footer starts. */

.footer-footer {
  height: 75px;
  line-height: 75px;
  text-align: center;
  background-color: rgb(19, 26, 34);
}

.footer-footer p {
  display: inline-block;
  color: rgb(153, 153, 153);
  font-size: 0.8rem;
}

.footer-footer a {
  color: rgb(221, 221, 221);
  font-size: 0.8rem;
  margin-right: 0.6rem;
}
/* Footer of the footer ends. */
/* Footer ends. */

/* ***Responsiveness for tablets.*** */

@media (max-width: 1150px) and (min-width: 650px) {
  .card {
    flex: 1 0 32.5%;
  }

  .card-4 {
    display: none;
  }

  .card-1 {
    margin-left: 0;
  }

  .cards {
    padding: 0 1.2rem 0 1.2rem;
  }

  .card h2 {
    margin: 1.2rem 0 0.3rem 1.2rem;
    font-size: 1.25rem;
  }

  .footer-main-main {
    min-width: 600px;
    column-gap: 1.8em;
  }

  .footer-main-footer a {
    font-size: 0.8rem;
  }
}

/* Responsiveness for mobile. */
@media (max-width: 650px) {
  body {
    min-width: auto;
  }

  .nav-belt {
    display: block;
    height: 150px;
    align-items: unset;
    padding-top: 1.2rem;
    padding-right: 0;
  }

  .nav-belt-right {
    transform: translateY(-40px);
    margin-right: auto;
    margin-left: auto;
  }

  .usa-flag {
    left: 30px;
  }

  .nav-main {
    column-gap: 0.3em;
    flex-flow: column;
    height: 50px;
    line-height: 35px;
  }

  .nav-main-right {
    background-color: rgb(35, 47, 62);
  }

  .nav-main-right ul a {
    font-size: 0.85rem;
    column-gap: 0.6rem;
  }

  .nav-main-left {
    display: none;
  }

  .nav-toaster {
    display: none;
  }

  .cards {
    flex-flow: column;
    background-image: none;
    overflow: auto;
    height: auto;
    min-width: auto;
  }

  .card {
    width: 100%;
    height: auto;
    margin-bottom: 0.9rem;
    top: auto;
    margin: 0 0 0.1rem 0;
    border: none;
  }

  .card-4 {
    display: none;
  }

  .carousels {
    margin: 0;
  }

  .carousel {
    line-height: 50px;
    margin: 0 0 0.1rem 0;
    height: auto;
    padding-bottom: 3rem;
  }

  .carousel img {
    width: 300px;
    height: auto;
    margin-left: 1.8rem;
  }

  .search-bar {
    transform: translateY(60px);
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }

  .search-bar form > :nth-child(2) {
    width: 95%;
  }

  .nav-belt-left {
    display: none;
  }

  .footer-belt {
    display: none;
  }

  .footer-main {
    display: none;
  }

  .footer-footer {
    height: 100px;
    line-height: 30px;
    padding-top: 1.2rem;
  }
}
